body, p, a, div, li {
    font-size: 1em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: gainsboro;
    min-width: 800px;
    width: 60%;
    margin: 0;
    padding: 0;
    margin: auto;
}

header {
    width: 60%;
    min-width: 800px;
    height: 240px;
    background-color: rgb(30, 30, 30);
    z-index: 1;
    overflow: hidden;

}

.image-box {
    width: 200px;
    height: 100%;
    float: left;
}

.image-box img {
    margin-right: 0;
    padding-right: 0;
}


#name {
    color: white;
    font-size: 4.5em;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 230px;
    font-size: 1.4em;
    margin-left: 0;
    padding-left: 0;

}

.sidebar ul {
    margin: 0; 
    padding: 0; 
    margin-top: 50px;
    list-style-type: none;
}

.sidebar li {
    color: lightcoral;
    padding-bottom: 1.2em;

}
.sidebar li a {
    text-decoration: none;
}


section {
    float: right;
    width: 600px;
    margin-top: 20px;
}
   

section div {
    margin-bottom: 4em;
}

section h1 {
    font-size: 1.5em;
    font-weight: 600;
}

section p, 
section li {
    font-size: 1.2em;
    font-weight: 400;
    margin: 0.4em;

}

#work ul > li li {
    font-weight: 600;
    list-style-type: disc;
    background-color: darkmagenta;
}


#work ul li ul {
    font-weight: 600;
    list-style-type: none;
    background-color: darkmagenta;

}